<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='TechFuture.css') }}">
    <title>
        {% block titulo %}
        TechFuture
        {% endblock %}
    </title>

</head>

<body>

    

    <header>
        <div class="navbar">
            <div class="logo">
                TechFuture
            </div>

            <div class="menu">
                <a href="/">Início</a>
                <a href="/contatoTech">Contato</a>
                <a href="/cursosTech">Cursos</a>
                <a href="/professoresTech">Professores</a>

            </div>

        </div>
    </header>

    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <p>
            2026 - Todos os direitos reservados
        </p>

        <p>
            Desenvolvido com Flask + Templates
        </p>
    </footer>
</body>

</html>